<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{block title}{/block}</title>

    <!-- Bootstrap core CSS -->
    <link href="/apk/www/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/apk/www/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">
    

    {block content}{/block}


    <!-- Footer -->
    <footer class="py-5 bg-dark">

      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Tomáš Keske 2017</p>
      </div>

      <center>    
        <a n:href="Homepage:sitemap" class="nav-link js-scroll-trigger">Sitemap</a>
      </center>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/apk/www/js/jquery.min.js"></script>
    <script src="/apk/www/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/apk/www/js/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/apk/www/js/scrolling-nav.js"></script>

  </body>

</html>
