{** @author Tomáš Keske *}

{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {foreach $posts as $post}
        <url>
            <loc>{link //Zobraz:clanek $post->slug}</loc>
        </url>
    {/foreach}
</urlset>