{** @author Tomáš Keske *}

{layout '../Admin/default1.latte'}

{block title}Přidat uživatele{/block}
{block obsah}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Přidat uživatele</h2>
              {control addUziv}
          </div>
        </div>
      </div>
    </section>
{/block}