{** @author Tomáš Keske *}

{layout '../Admin/default1.latte'}

{block title} Počítadlo návštěv{/block}
{block obsah}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Počítadlo návštěv</h2>
            	UIP za měsíc: {$uipZaMesic}<br>
            	UIP celkem: {$uipCelkem}<br>
            	Zobrazení celkem: {$vse}<br>
          </div>
        </div>
      </div>
    </section>