{** @author Tomáš Keske *}

{layout default1.latte}

{block obsah}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Články</h2>
            <ul>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
{/block}